<!DOCTYPE html>
<html>
<head>
  <title>PlumbingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href='/'>Home</a><br>
<a href='/services'>Services</a><br>
<%= yield %>

</body>
</html>
